body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

canvas {
  position: absolute;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.controls {
  text-align: center;
  margin-bottom: 420px;
  position: relative;
}

#btn {
  margin-top: 240px !important;
  position: relative;
}

#myAudio {
  position: absolute;
  margin-top: 90px;
  margin-left: -350px !important;
}
